
.move-animation {
    transition: 400ms ease-out;
}

.floating-img {
	border-radius: 32px;
	box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.45);
	width: 64px;
	height: 64px;
}


.holding-zone {
	position: relative;
	width: 50em;
	height: 4em;
	padding: 0.5em; 
	border: dashed 1px;
	margin: 0.15em auto 0;
}




/**
 * Position icons into circle (SO)
 * http://stackoverflow.com/q/12813573/1397351 
 */
.circles {
	position: relative;
	width: 24em;
	height: 24em;
	padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border: dashed 1px;
	border-radius: 50%;
	margin: 1.75em auto 0;
}
.circle-container a {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -2em; /* 2em = 4em/2 */ /* half the width */
}
.circle-container img { display: block; width: 100%; }

/* this is just for showing the angle on hover */
.circle-container a:not(.center):before {
	position: absolute;
	width: 8em;
	color: white;
	opacity: 0;
	background: rgba(0,0,0,.5);
	font: .7em/6.45 Courier, monospace;
	letter-spacing: 0px;
	text-decoration: none;
	text-indent: -2em;
	text-shadow: 0 0 .1em deeppink;
	transition: .7s; /* only works in Firefox */
	content: attr(data-name);
	text-align: center;
}
.circle-container a:hover:before { opacity: 1; }

/* this is for showing the circle on which the images are placed */
.circles:after {
	position: absolute;
	top: 2.8em; left: 2.8em;
	width: 24em; height: 24em;
	border: dashed 1px deeppink;
	border-radius: 50%;
	opacity: .3;
	pointer-events: none;
	content: '';
}
.circles:hover:after { opacity: 1; }
.circles a:not(.center):after {
	position: absolute;
	top: 50%; left: 50%;
	width: 4px; height: 4px;
	border-radius: 50%;
	box-shadow: 0 0 .5em .5em white;
	margin: -2px;
	background: deeppink;
	opacity: .3;
	content: '';
}


.holding-zone a {
	display: block;
	position: relative;
	float: left;
	left: 0;
	top: 0;
	margin: 0;
}